@import url('https://fonts.googleapis.com/css2?family=Hind&family=Manrope&family=Varela+Round&display=swap')

html, body
	padding: 0
	margin: 0
	height: 100vh
	font-family: 'Hind', "Fira Code", sans-serif

a
	color: inherit
	text-decoration: none

*
	box-sizing: border-box
