@use 'src/styles/palettes' as theme

.wrap
	display: flex
	flex-direction: row
	color: theme.$Moonlight_Text
	justify-content: center
	align-items: center
	height: 50vh

	h1, h2, h3
		margin: 0
		padding-right: 1rem
		padding-left: 1rem

	.code
		border-right: 2px solid theme.$Moonlight_Border

	.message
		display: flex
		align-items: center
