//Other --Deep Ocean
$Deep_Bg: #0F111A
$Deep_Fg: #8F93A2
$Deep_Text: #4B526D
$Deep_SelectedBg: #717CB480
$Deep_SelectedFg: #FFFFFF
$Deep_Btn: #191A21
$Deep_Bg_2: #181A1F
$Deep_Disabled: #464B5D
$Deep_Contrast: #090B10
$Deep_Active: #1A1C25
$Deep_Border: #0F111A
$Deep_Highlight: #1F2233
$Deep_Tree: #717CB430
$Deep_Notifications: #090B10
$Deep_Accent: #84ffff
$Deep_Excluded: #292D3E
