$Palenight_Bg: #292D3E
$Palenight_Bg_2: #34324a
$Palenight_Fg: #A6ACCD
$Palenight_Txt: #676E95
$Palenight_SelectedBg: #717CB470
$Palenight_SelectedFg: #FFFFFF
$Palenight_Btn: #303348
$Palenight_Disabled: #515772
$Palenight_Contrast: #202331
$Palenight_Active: #414863
$Palenight_Border: #2b2a3e
$Palenight_Highlight: #444267
$Palenight_Tree: #676E95
$Palenight_Notifications: #202331
$Palenight_Accent: #ab47bc
$Palenight_Excluded: #2f2e43
