//Other -- Synthwave
$Synth_Bg: #2a2139
$Synth_Fg: #ffffff
$Synth_Text: #999999
$Synth_SelectedBg: #463465
$Synth_SelectedFg: #FFFFFF
$Synth_Btn: #382C4D
$Synth_Bg_2: #2a2139
$Synth_Disabled: #848bbd
$Synth_Contrast: #241b2f
$Synth_Active: #34294f
$Synth_Border: #34294f
$Synth_Highlight: #463564
$Synth_Tree: #42384b70
$Synth_Notifications: #191621
$Synth_Accent: #f92aad
$Synth_Excluded: #463564
