//Bart -- Burgundy
$Volcano_Bg: #2E0000
$Volcano_Fg: #ffeaea
$Volcano_Text: #ffd0aa
$Volcano_SelectedBg: #750000
$Volcano_SelectedFg: #FFFFFF
$Volcano_Btn: #700000
$Volcano_Bg_2: #330000
$Volcano_Disabled: #C58383
$Volcano_Contrast: #300000
$Volcano_Active: #440000
$Volcano_Border: #400000
$Volcano_Highlight: #550000
$Volcano_Tree: #77000050
$Volcano_Notifications: #260808
$Volcano_Accent: #00bcd4
$Volcano_Excluded: #662222
$Volcano_Var: #2F0A0A
