@use 'palettes' as theme

.global
	min-height: 100vh
	max-height: fit-content
	display: flex
	flex-direction: column
	scrollbar-width: thin
	scrollbar-color: black gray

.Moon
	background: theme.$Moonlight_Contrast

