@use 'themes/moon'

.app
	display: flex
	flex: 1
	width: 100%
	flex-direction: column
	align-items: center
	justify-content: space-between
	margin: 0
	padding: 0

.main
	display: flex
	flex-direction: column
	color: moon.$Moonlight_Text
	background-color: moon.$Moonlight_Bg_2
	border-radius: 10px
	width: 75vw
	margin: 3rem

	@media (max-width: 1000px)
		flex-direction: column
		width: 95vw

////////////////////////////////////////////////////////
///////////////////////////////////////////////////////

.tabrow
	display: inline-flex
	height: 4rem
	font-size: larger
	border-bottom: 2px solid moon.$Moonlight_Disabled


.tab
	display: flex
	flex: 1
	align-items: center
	justify-content: center

	a
		justify-content: center
		border-radius: inherit

.tab:nth-child(1)
	border-top-left-radius: 10px

.tab:nth-child(2)
	border-top-right-radius: 10px

/////////////////////////////////////////////////

.form
	display: flex
	flex-direction: column
	align-items: center

	input, button, .select
		background: moon.$Moonlight_SelectedBg
		color: moon.$Moonlight_Text
		border: none !important
		border-radius: 5px
		height: 1.5rem


	button
		width: 2.5rem
		font-size: larger
		margin: .5rem

	button:hover
		cursor: pointer

.top
	display: inline-flex
	margin-top: .5rem

	button
		margin: 0
		width: auto
		font-size: 1rem
		font-weight: normal

	.select, input, label
		margin-right: 5px

	@media (max-width: 600px)
		flex-direction: column
		//margin-bottom: 1rem
		align-items: center

.risky
	display: inherit

.safe, .risky
	margin-bottom: .5rem

////////////////////////////////////////////////////

.textbox
	height: 60vh
	width: 95%
	border: none !important
	background: moon.$Moonlight_SelectedBg
	color: moon.$Moonlight_Text
	margin-top: .5rem
	border-radius: 5px
	resize: none

.cards
	display: grid
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
	font-size: larger
	padding: 0

.card
	height: 5rem
	display: flex
	justify-content: center
	text-align: center
	align-items: center
	background: moon.$Moonlight_SelectedBg
	margin: 10px
	border-radius: 5px


// All the stuff making the toggle switch work
.form input[type=checkbox]
	height: 0
	width: 0
	visibility: hidden

.form label
	cursor: pointer
	text-indent: -9999px
	width: 3rem
	height: 1.5rem
	background-color: moon.$Moonlight_Contrast
	display: block
	border-radius: 100px
	position: relative


.form label:after
	content: ''
	position: absolute
	top: .25rem
	left: .25rem
	width: 1rem
	height: 1rem
	background: moon.$Moonlight_Text
	border-radius: 90px
	transition: 0.3s


.form input:checked + label
	background-color: moon.$Moonlight_SelectedBg

.form input:checked + label:after
	left: calc(100% - 5px)
	transform: translateX(-100%)


.form label:active:after
	width: 1.2rem
