$Forest_Bg: #002626
$Forest_Fg: #B2C2B0
$Forest_Text: #49694D
$Forest_SelectedBg: #1E611E
$Forest_SelectedFg: #FFFFFF
$Forest_Btn: #003535
$Forest_Bg_2: #002E2E
$Forest_Disabled: #005454
$Forest_Contrast: #002020
$Forest_Active: #104110
$Forest_Border: #003838
$Forest_Highlight: #003F3F
$Forest_Tree: #32CD3250
$Forest_Notifications: #002020
$Forest_Accent: #FFCC80
$Forest_Excluded: #113711
