$Moonlight_Bg: #222436
$Moonlight_Bg_2: #2f334d
$Moonlight_Fg: #c8d3f5
$Moonlight_Text: #a9b8e8
$Moonlight_SelectedBg: #444a73
$Moonlight_SelectedFg: #FFFFFF
$Moonlight_Btn: #444a73
$Moonlight_Disabled: #828bb8
$Moonlight_Contrast: #191a2a
$Moonlight_Active: #2f334d
$Moonlight_Border: #222436
$Moonlight_Highlight: #444a73
$Moonlight_Tree: #444a7370
$Moonlight_Notifications: #191a2a
$Moonlight_Accent: #74a0f1
$Moonlight_Excluded: #2f334d

