//Sweet

//Buttons
$Sweet_Button_BackgroundNormal:rgb(255,255,255)
$Sweet_Button_DecorationFocus:rgb(133,0,247)
$Sweet_Button_DecorationHover:rgb(189,147,249)
$Sweet_Button_ForegroundNormal:rgb(217,221,227)

//Complemtary
$Sweet_Complementary_BackgroundNormal:rgb(32,32,32)
$Sweet_Complementary_DecorationFocus:rgb(133,0,247)
$Sweet_Complementary_DecorationHover:rgb(189,147,249)
$Sweet_Complementary_ForegroundNormal:rgb(217,221,227)

//View
$Sweet_View_BackgroundNormal:rgb(24,27,40)
$Sweet_View_DecorationFocus:rgb(133,0,247)
$Sweet_View_DecorationHover:rgb(189,147,249)
$Sweet_View_ForegroundNormal:rgb(217,221,227)

//Window
$Sweet_Window_BackgroundNormal:rgb(22,25,37)
$Sweet_Window_DecorationHover:rgb(133,0,247)
$Sweet_Window_ForegroundLink:rgb(3,77,179)
$Sweet_Window_ForegroundNormal:rgb(217,221,227)
$Sweet_Window_ForegroundVisited:rgb(153,93,198)
