---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="body">
        <main>
            <h1 class="">Hi, I'm Siarune</h1>
            <h3>
                I'm a university student studying computer science, specializing
                in industrial machinery.
            </h3>
            <h4>
                Here you can see my
                <a href="projects/" class="link">projects </a>
                and <a href="writing" class="link">writing</a>.
            </h4>
        </main>
    </body>
</html>
