@use 'styles/themes/moon'
@use 'styles/themes/og'
@use 'styles/themes/forest'
@use 'styles/themes/sepia'
@use 'styles/themes/volcano'
@use 'styles/themes/offwhite'

.global
	min-height: 100vh
	max-height: fit-content
	display: flex
	flex-direction: column
	scrollbar-width: thin
	scrollbar-color: black gray

.Moon
	background: moon.$Moonlight_Contrast

.Book
	background: sepia.$Book_Bg
