.app
	display: flex
	min-height: 100vh
	flex-direction: column
	// justify-content: center
	align-items: center
	background: #212529
	color: white

.heading
	text-align: center
	margin-bottom: 3rem

.content
	min-width: 30vw
	max-width: 50vw
	background: #131618
	border-radius: 5px
	padding: 1rem
	// margin-top: 5rem
	margin-bottom: 5rem

	@media (max-width: 1000px)
		min-width: 60vw

	@media (max-width: 500px)
		min-width: 80vw

	a
		color: #3395ff
		font-weight: bold
		font-size: large

	ul
		padding-left: 0

	li
		list-style-type: none
		margin: 2rem
		// font-size: medium

	.info
		display: flex
		flex-direction: row
		justify-content: space-between

		@media (max-width: 500px)
			flex-direction: column

	.date
		color: #778189
		font-size: smaller

	hr, p
		margin: 2px
