@use 'theme'

.main
	background: theme.$Moonlight_Contrast
	// height: calc(100vh - 3rem)
	min-height: 100vh
	max-height: fit-content
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between

.cont
	display: flex
	flex-direction: row
	color: theme.$Moonlight_Text
	min-height: 50vh

	@media (max-width: 1000px)
		flex-direction: column

.feed
	max-height: 50vh
	overflow: scroll
	// scroll-snap-type: proximity

.link a
	color: currentColor
	text-decoration: none

.bio, .card
	background-color: theme.$Moonlight_Bg_2
	border-radius: 10px
	padding: 1em
	box-shadow: rgba(3, 8, 20, 0.1) 0 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0 0.075rem 0.175rem
	transition: all 500ms
	margin: 1em

.bio
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	margin-bottom: 0

	a
		text-decoration: underline dashed

.card
	text-align: center
	// scroll-snap-align: center

	h4
		opacity: 60%

.card:hover
	box-shadow: rgba(2, 8, 20, 0.1) 0 0.35rem 1.75rem, rgba(2, 8, 20, 0.08) 0 0.175rem 0.5rem
	transform: translateY(-3px) scale(1.05)
	animation-fill-mode: cubic-bezier(.55, .09, .68, .53)

.footer
	color: theme.$Moonlight_Text

	p
		margin: .25rem
		font-size: small
		opacity: 60%

// $base: 0.6rem

// .container
// 	display: flex
// 	justify-content: center
// 	align-items: center
// 	width: 100%
// 	height: 100vh

// .chevron
// 	position: absolute
// 	width: $base * 3.5
// 	height: $base * 0.8
// 	opacity: 0
// 	transform: scale(0.3)
// 	animation: move-chevron 3s ease-out infinite

// 	&:first-child
// 		animation: move-chevron 3s ease-out 1s infinite

// 	&:nth-child(2)
// 		animation: move-chevron 3s ease-out 2s infinite

// .chevron:before,
// .chevron:after
// 	content: ''
// 	position: absolute
// 	top: 0
// 	height: 100%
// 	width: 50%
// 	background: #2c3e50

// .chevron:before
// 	left: 0
// 	transform: skewY(30deg)

// .chevron:after
// 	right: 0
// 	width: 50%
// 	transform: skewY(-30deg)

// @keyframes move-chevron
// 	25%
// 		opacity: 1

// 	33.3%
// 		opacity: 1
// 		transform: translateY($base * 3.8)

// 	66.6%
// 		opacity: 1
// 		transform: translateY($base * 5.2)

// 	100%
// 		opacity: 0
// 		transform: translateY($base * 8) scale(0.5)
