$colors: ("1": #073B4C ,"2": #EF476F, "3": #118AB2, "4": #06D6A0, "5": #FFD166 )

.main
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center

.projects
	display: grid
	width: 75vh
	height: 75vh
	gap: 0
	grid-template-areas: 'box3 box3 box4' 'box2 box5 box4' 'box2 box1 box1'

.project
	color: black
	text-align: center
	filter: opacity(0.95)
	display: flex
	justify-content: center
	flex-direction: column


.project:hover
	filter: opacity(1)
	cursor: pointer

@for $i from 1 through 5
	.project:nth-child(#{ $i })
		grid-area: box#{ $i }
		background: map-get($colors, "#{$i}")


